<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openea.eap.extj.database.mapper.JdbcMapper">

    <!--插入-->
    <insert id="insert" parameterType="String">
        ${sql}
    </insert>
    <!--删除-->
    <delete id="delete" parameterType="String">
        ${sql}
    </delete>
    <!--更改-->
    <update id="update" parameterType="String">
        ${sql}
    </update>
    <!--查询-->
    <select id="select"  parameterType="String">
        ${sql}
    </select>


    <!-- ============= JDBC ============= -->
    <!--插入-->
    <insert id="jdbcInsert" parameterType="String">
        ${sql}
    </insert>
    <!--删除-->
    <delete id="jdbcDelete" parameterType="String">
        ${sql}
    </delete>
    <!--更改-->
    <update id="jdbcUpdate" parameterType="String">
        ${sql}
    </update>
    <!--查询-->
    <select id="jdbcSelect"  parameterType="String" resultType="map">
        ${sql}
    </select>

</mapper>
